body {
	height: 100vh;
	overflow-y: hidden;
}
.sidebar{
	width: 200px;
	background-color: lightgray;
	height: 100vh;
}
.nav{
	padding-top: 200px;
	padding-left: 50px;
}
body {
	display: flex;
}
.header{
	height: 50px;
	background-color: lightgray;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.form-control{
	width: 400px;
	min-width: 200px;
}
.input-group{
	width: 600px;
}
.content{
	width: 100%;
	overflow-y: scroll;
	height: 100vh;
}
.posts{
	display: flex;
	flex-direction: column;
	padding: 20px;
}